<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littleProgrammers.mangadexdownloader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MangadexDownloader">
        <activity
            android:name=".ReaderActivity"
            android:exported="false"
            android:label="@string/readerActivityTitle"
            android:parentActivityName=".ChapterDownloaderActivity"/>
        <activity
            android:name=".DownloadedFiles"
            android:exported="false"
            android:label="@string/openDownloadFolder"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ChapterDownloaderActivity"
            android:label="@string/activityDownloadName"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".SearchActivity" />

        <receiver android:name=".DownloadStopper"
            android:exported="false">
        </receiver>
        <!-- For sharing PDF files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.littleProgrammers.mangadexdownloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>